@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background: #263244;
	position: fixed;
	z-index: 10;
}

section{
	padding: 100px 0px;
}


.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	
	float: left;
	animation: comming 2s ease; 
}
.menu{
	float: left;
}
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 15px;
	text-transform: uppercase;
	animation: topshift 0.5s ease forwards;
	opacity: 0;
	font-size: 14px;
}
.main{
	width: 100%;
	height: 100%;
	background:url(../img/boy.png)90% 100%/auto no-repeat ,url(../img/bg.jpg) center/cover no-repeat; 
	padding-bottom: 1000px;
}
.tittle_container{
	float: left;
	
	color: #2c384a;
	text-align: center;
	width: 100%;
	animation: tittlemove 1s ease forwards;
	animation-delay: 3s;
	opacity: 0;
}
.tittle_container h1{
	font-family: Arial,sans-serif;
	font-size: 72px;
	font-weight: bold;
}
.tittle_container h4{
	margin-top:40px;
	font-size:22px;
	color:#79818d;	
}
.tittle_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius:5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin:58px 14px 0px 14px; 
}

.menu li a{
	color: white;
	transition: all 0.5s;
	transform: scale(1);
	display: inline-block; 

}
.menu li a:hover{
	color: yellow;
	
}
.menu li a:active{
	transform: scale(1.1);
}

.tittle_container input{
	transition: all 0.5s;
	transform: scale(1);
}
.tittle_container input:hover{
	background: #344051;
	color: white;
}

.tittle_container input:active{
	transform: scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes topshift{
	from{
		opacity: 0;
		margin-top:-80px; 
	}
	to{
		opacity: 1;
		margin-top:0px; 
	}
}

@keyframes tittlemove{
	from{
		opacity: 0;
		margin-left:-500px; 
	}
	to{
		opacity: 1;
		margin-left: 0px; 
	}
}




.menu li:nth-child(2){
	animation-delay:0.5s; 
}
.menu li:nth-child(3){
	animation-delay:1s; 
}
.menu li:nth-child(4){
	animation-delay:1.5s; 
}
.menu li:nth-child(5){
	animation-delay:2s; 
}
.menu li:nth-child(6){
	animation-delay:2.5s; 
}


.summary{
	
	
}

.about_me{
	font-size: 30px;
	color: #263244;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 2px 10px;
	
	transition: all 1.5s;
}


.about_me:hover{
	border: 2px solid #d17700;
	border-radius: 5%;
	background: #d17700;
	width: 170px;
	height: 40px;
}


.photo{


}

.text-about_me{
	text-align: justify;
	display: block;
	
}
.text-about_me p{
	
	color: #6d7682;
	font-size: 15px;
}
.text-about_me input{
	height: 40px;
	border: 2px solid #6d7682;
	background: none;
	border-radius:5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 10px;
	transition: all 0.5s;
	transform: scale(1);
}
.text-about_me input:hover{
	background: #344051;
	color: white;
}
.text-about_me input:active{
	transform: scale(1.1);
}


.my_skills{
	
	background:url(../img/bg1.jpg) center/cover no-repeat;
}
.tittle-my_skills{
	
	font-size: 30px;
	color: #263244;
	transform:scale(1);
	transition:all 1.5s;  
}
.tittle-my_skills:hover{
transform:scale(2); 

}
.tittle-my_skills h3{
	font-weight: bold;
	padding-bottom: 100px; 
}
.main-my_skills{
	
 
}
.web-development,.development,.optimization,.marketing{
	border: 0px solid #6d7682;
	padding-bottom: 50px; 
}


@keyframes move{
	from{
		opacity: 0;
		
	}
	to{
		opacity: 1;
	}
}



.photo_web-development,.photo_development,.photo_optimization,.photo_marketing{
	padding-bottom: 40px;
	animation: move  3s alternate infinite;
}
.photo_web-development{
	animation-delay: 0.5s;
}
.photo_development{
	animation-delay: 1s;
}
.photo_optimization{
	animation-delay: 1.5s;
}
.photo_marketing{
	animation-delay: 2.5s;
}




.text_web-development h4,.text_development h4,.text_optimization h4,.text_marketing h4{
	color: #cf7600;
	padding-bottom: 10px;
	font-weight: bold;
}
.text_web-development h5,.text_development h5,.text_optimization h5,.text_marketing h5{
	color: #263244;
}

.cases{
	
	color: #263244;
	
}
.tittle_cases h3{
	
	font-size: 30px;
	padding-bottom: 70px;
	font-weight: bold;
	transform:scale(1);
	transition:all 1.5s;  
}
.tittle_cases h3:hover{
transform:scale(1.5); 

}




.tittle_cases h5 {
	
	color: #263244;
}
.link_cases,.texr_cases{
	
}

.texr_cases h4{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}
.texr_cases h5{
	margin-bottom: 20px; 
}

.two_cases{
	padding: 50px;
}
.link_cases{
	 
	
}  

.link_cases h4,.link_cases h5{
	padding-bottom: 10px;
	color: #263244;
}
.link_cases h4{
	font-size: 18px;
	font-weight: bold;
}
.link_cases input{
	border: 4px solid #63b5ae;
	background-color:#63b5ae;
	border-radius:5px;
	color:#ffffff;
	font-size: 18px;
 	padding: 0px 20px;
    transition: all 0.5s;
	transform: scale(1);
}
.link_cases input:active{
	transform: scale(1.1);
}


.price{
	
	color: #263244;
	
}
.tittle_price{
	 
}
.tittle_price h2{
	
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: bold;
transform:scale(1);
	transition:all 1.5s;  
}
.tittle_price h2:hover{
transform:scale(1.5); 

}



.tittle_price h4{
	margin-bottom: 10px;
	font-size: 20px;
	padding-right:100px;
	font-weight: bold; 
	position: relative;
	left: 220px;
	text-align: justify;

}
.tittle_price select{
	margin:10px 0px 40px 0px;
	border: 4px solid #eeeeee;
	background-color:#eeeeee;
	padding: 10px 300px;
}
.tittle_price h5{
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: bold;
}

.tittle_price{
	box-shadow: 2px 2px 10px #eeeeee;

}
.btn{
	background-color: #00b6af;
	color: white;
	margin-top: 30px;
}






.statistics{

	background:url(../img/bg2.jpg) center/cover no-repeat fixed;
}
.tittle-statistics{
	
	font-size: 30px;
	color: #263244;
	font-weight: bold;
	transform:scale(1);
	transition:all 1.5s;  
}
.tittle-statistics:hover{
transform:scale(1.5); 
}





.main-statistics{
	padding: 120px 0px 100px 0px;
}
.clients,.work_time,.projects,.Awards{
	padding-bottom: 100px;
	 
}

.text_clients h4,.text_work_time h4,.text_projects h4,.text_Awards h4{
	color: #263244;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}
.text_clients h6,.text_work_time h6,.text_projects h6,.text_Awards h6{
	color: #263244;
}

.Review{
	color: #263244;
}
.heading_Review{

	font-size: 30px;
	font-weight: bold;
transform:scale(1);
	transition:all 1.5s;  
}
.heading_Review:hover{
transform:scale(1.5); 
}


.contacts{
	
	color: #f4f5f6;
	background:url(../img/bg3.jpg) center/cover no-repeat;
}
.tittle_contacts{
	
	font-size: 30px;
	
	font-weight: bold;
	transform:scale(1);
	transition:all 1.5s;  
}
.tittle_contacts:hover{
transform:scale(1.5); 
}


.text_contacts{
	
}

.location,.mail,.phone{
	
}
.location_photo,.mail_photo,.phone_photo{
	padding: 50px 0px 20px 0px; 
	transform: scale(1);
	transition: all 1s;
}
.location_photo:hover,.mail_photo:hover,.phone_photo:hover{
	transform: scale(1.5);
}


.message{
	padding-top: 40px;
	
}
.message h3{
	font-size: 25px;
	padding-bottom: 45px;
	font-weight: bold;
}
.message input{
	margin:10px 5px 40px 5px;
	border: 4px solid #eeeeee;
	background-color:#eeeeee;
	padding: 5px 70px;
}
.message textarea{
	border: 4px solid #eeeeee;
	background-color:#eeeeee;
	padding: 1px 200px;
}
.send input{
	border: 2px solid #ffffff;
	background: none;
	border-radius:5px;
	color: #ffffff;
	font-size: 16px;
	padding: 4px 16px;
  transition: all 0.5s;
	transform: scale(1);
}
.send input:hover{
	background: #d17700;
	color: white;
}
.send input:active{
	transform: scale(1.1);
}




.maps{
	
	background:url(../img/bg4.jpg) center/cover no-repeat;
}
.maps-location input{
	 
	border: 2px solid #ffffff;
	background: #ffffff;
	color:#000000;
	font-size: 16px;
	padding: 4px 16px;
	 transition: all 0.5s;
	transform: scale(1);
}
.maps-location input:hover{
	background: #d17700;
	color: white;
}
.maps-location input:active{
	transform: scale(1.1);

}
footer{
	
	background: #263244;
}
.footer-text{
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	
}

}
/*Загузчик*/
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
.custome-css
.white-btn:visited{
	color: white;
}
@media (max-width: 991px){
	.tittle_container,.tittle_container h4,.tittle_container input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.main{
		position: relative;
	}
	.tittle_container input{
		border: 2px solid #fff;
	}
	.main::after{
content:"";
bottom: 0;
top: 0;
left: 0;
right: 0;
position: absolute;
background: rgba(0,0,0,0.4); 
	}
}